<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!---------------------------------------------------------------------------Font-Awesome Linking---------------------------------------------------------------------------------------> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <!-------------------------------------------------------------------------Google-Font Linking------------------------------------------------------------------------------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!----------------------------------------------------------------------------CSS Linking------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='request_s.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='drop2.png') }}">
    <title>Request section</title>
</head>
<body>
  <div class="main">
    <h1>Enter the details of your request</h1>
    <div class="details">
        <form class="row g-3" action="/request" method="post">
            <div class="col-md-10">
              <label for="inputName" class="form-label">Name</label>
              <input type="text" class="form-control" id="inputName" name="name">
            </div>
            <div class="col-4">
                <label for="inputNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="inputNumber" placeholder="+91" name="no">
              </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="col-10">
              <label for="inputAddress" class="form-label">Hospital Name</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="" name="hname">
            </div>
            <div class="col-md-4">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity" name="city">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Blood Group</label>
              <select id="inputState" class="form-select" name="bg1">
                <option selected>Choose...</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="O+">O+</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="O-">O-</option>
                <option value="AB-">AB-</option>
              </select>
            </div>
            <div class="col-2">
                <label for="inputCity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="inputCity" placeholder="in litres" name="quant">
              </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
    </div>

    <div class="images">
      <img src="{{ url_for('static', filename='r_icon.png') }}" alt="Student-Section">
    </div>
  </div>

  <!----------------------------------------------------------_ displaying content_ ------------------------------------------------->
  
  <div class="container table-responsive ms-5 mt-4" style="width: 75vw;">
    <h2 style="background-color: rgb(239, 80, 60); color: white; padding: 0.65rem;">Availaible Donors are:</h2> <br>
    <table class="table table-hover table-condensed table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
        </tr>
      </thead>
  
      <tbody class="table-group-divider">
        {% for don in det %}
        <tr>
          <td>{{don.name}}</td>
          <td>{{don.phno}}</td>
          <td>{{don.email}}</td>
          <td>{{don.address}}</td>
          <td>{{don.city}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>